html {
  background: #f6f6f6;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
hr {
  display: none;
}
#page-container {
  padding: 0 20px;
}
.content-inner {
  max-width: 1000px;
  margin: auto;
}
#page-header .page-title {
  margin: 30px 0;
  text-align: center;
  font-size: 3.2rem;
}
#page-header .misc {
  text-align: right;
}
#page-header .desc {
  margin-top: 30px;
  text-align: center;
}
#page-header .desc p {
  margin: 20px;
}
#page-main {
  margin-top: 30px;
}
#page-main > section:first-child > .content-inner {
  border-top: 2px solid #333;
}
#page-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 1.4rem;
}
#page-footer .content-inner {
  padding: 10px 0 20px;
  border-top: 2px solid #333;
}
#page-footer p {
  margin-top: 10px;
}
.section-body {
  line-height: 1.7;
}
.section-body > *,
.section-body p:not(:first-child) {
  margin-top: 20px;
}
#page-main .section-heading a {
  vertical-align: super;
  font-family: Times, serif;
  font-size: 1.6rem;
}
#page-main .section-heading {
  margin: 20px 0;
}
#page-main section {
  margin-top: 30px;
}
#page-main section > * ~ .content-inner {
  margin-top: 30px;
  border-top: 1px solid #ccc;
}
#page-main h2 {
  border-bottom: 1px solid #000;
  font-size: 3.2rem;
}
#page-main h3 {
  border-bottom: 1px solid #666;
  font-size: 2.4rem;
}
#page-main :is(h4, h5, h6) {
  border-bottom: 1px solid #ccc;
  font-size: 2rem;
}
figure.object {
  text-align: center;
}
figure.object a {
  text-decoration: none;
}
figure.object a:hover {
  color: #09f;
}
img {
  max-width: 100%;
}
code {
  font-family: monospace;
}
strong {
  color: #c00;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #666;
}
th {
  font-weight: bold;
}
th, td {
  padding: 4px 8px;
  border-width: 1px 0 0 1px ;
  border-style: solid;
  border-color: #666;
  text-align: center;
}
blockquote {
  margin: 20px;
  padding: 20px;
  border: 1px solid #666;
  background: #ddd;
}
#page-main ul {
  list-style: disc;
  margin-left: 40px;
}
.infoBlock {
  margin: 20px;
  padding: 20px;
  border: 1px solid #00f;
  background: #ccf;
}
.warningBlock {
  margin: 20px;
  padding: 20px;
  border: 1px solid #f00;
  background: #fcc;
}
